DEBUG=True
SECRET_KEY=unsafe-development-key-change-me
JWT_SIGNING_KEY=unsafe-development-jwt-signing-key-change-me
ALLOWED_HOSTS=localhost,127.0.0.1
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend

DB_NAME=fincore
DB_USER=fincore
DB_PASSWORD=fincore_dev
DB_HOST=db
DB_PORT=5432
